body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: white;
  text-align: center;
}
p {
  font-size: 8px;
}
header {
  background-color: blue;
  overflow: hidden;
}

nav {
  background-color: darkslategrey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 3px 5px 3px 5px;
}

nav a:hover {
  background-color: lightgray;
  color: darkslategrey;
}
article {
  background-color: pink;
  overflow: hidden;
}
section {
  background-color: orange;
}
aside {
  background-color: brown;
}

img {
  width: 100%;
}
